@import "tailwindcss";

::-webkit-scrollbar {
  width: 1px; /* You can't set exactly 1px, browsers round it, so use 2-4px for visible thinness */
  height: 2px;
  border-radius: 12px;
  
}

::-webkit-scrollbar-thumb {
  background: #8b5cf6; /* Purple shade */
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: 2px;
  scrollbar-color: transparent;
  scroll-behavior: smooth;

  -webkit-overflow-scrolling: touch;

}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 30s linear infinite;
}

