@import "tailwindcss";

::-webkit-scrollbar {
  width: 1px;
  height: 2px;
  border-radius: 12px;
  
}

::-webkit-scrollbar-thumb {
  background: #71717a;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

* {
  scrollbar-width: 2px;
  scrollbar-color: transparent;
  scroll-behavior: smooth;

  -webkit-overflow-scrolling: touch;

}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 30s linear infinite;
}

